<h1><%= t('users.edit') %></h1>

<div class="row">
  <div class="col-6 mt-4">
    <%= render 'form', user: @user %>

    <p class="mt-3">
      <%= link_to t('buttons.change_password'), edit_user_registration_path %>
    </p>
  </div>
</div>
