<h1>Редактирование профиля</h1>

<div class="row">
  <div class="col-6 mt-4">
    <%= render 'form', user: @user %>

    <p class="mt-4">
      <%= link_to 'Сменить пароль', edit_user_registration_path %>
    </p>
  </div>
</div>
